@font-face {
    font-family: WRESTLEMANIA;
    src: url("/fonts/WRESTLEMANIA.ttf") format("truetype");
}

@font-face {
    font-family: MileStone;
    src: url("/fonts/MilestoneFreeVersion-Script.otf") format("opentype");
}

#comp{
    font-family: MileStone;
    font-size: large;
}

#propos{
    font-family: MileStone;
    font-size: large;
}

#title{
    font-family: WRESTLEMANIA;
    font-size: xx-large;
}
.width-100{
    width: 90%;
}

@media screen and (min-width: 800px) {
    #page1{
        height: 1100px;
    }
}

#titre{
    font-family: WRESTLEMANIA;
    font-size: 50px;
}

#texte{
    font-family: MileStone;
    font-size: x-large;
}

#page1{
    filter: blur(2px);
}

#icon{
     position: relative;
     left: 130px;
}

.caption{
    position:absolute;
    top:8rem;
    color: white;
}

/* @media screen and (max-width: px) {
    #page1{
        height: 100vh;
    }
} */